<!--INICIO Centrar contenido-->
<div class="col-lg-12 mt-3 d-flex justify-content-center" *ngIf="!topics">
<!--FIN Centrar contenido-->
	<img src="/assets/img/loading.gif"/>
</div>
<div class="col-lg-12 mt-3" *ngIf="topics">
	<!-- {{page_title}} => Dobles llaves de interpolacion -->
	<h1>{{page_title}}</h1>
	<hr/>

	<ul class="list-group list-topics">
	  <li class="list-group-item" *ngFor="let topic of topics">
	  	<h4>
	  		<a [routerLink]="['/tema', topic._id]">{{topic.title}}</a>
	  	</h4>
	  	<span class="badge badge-primary" *ngIf= "topic.user.name != null && topic.user.surname != null">
	  		{{ topic.user.name + ' ' + topic.user.surname }}
	  	</span>

	  	<span class="badge badge-light ml-2" *ngIf = "topic.date != null">
	  		{{ topic.date | amLocale: 'es' | amTimeAgo }}
	  	</span>
	  	<a [routerLink]="['/tema', topic._id]" class="btn btn-sm btn-success float-right mx-auto d-block">
	  		Leer
	  	</a>
	  </li>
	  
	</ul>

	<div class="clearfix">
		
	</div>
</div>

